<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gripper</key>
	<dict>
		<key>Module</key>
		<string>gripper</string>
		<key>Codes</key>
		<dict>
			<key>Grab#arrow.right.and.line.vertical.and.arrow.left</key>
			<integer>0</integer>
			<key>Release#arrow.left.and.line.vertical.and.arrow.right</key>
			<integer>1</integer>
		</dict>
		<key>Scene</key>
		<string>gripper.scn</string>
	</dict>
	<key>Drill</key>
	<dict>
		<key>Module</key>
		<string>drill</string>
		<key>Codes</key>
		<dict>
			<key>Clockwise rotation#arrow.clockwise.circle</key>
			<integer>1</integer>
			<key>Counter clockwise rotation#arrow.counterclockwise.circle</key>
			<integer>2</integer>
			<key>Stop rotation#stop.circle</key>
			<integer>0</integer>
		</dict>
		<key>Scene</key>
		<string>drill.scn</string>
	</dict>
</dict>
</plist>
