<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>6DOF Series</key>
		<dict>
			<key>Model 1</key>
			<dict>
				<key>Name</key>
				<string>Model Without Scene</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>Model 2</key>
			<dict>
				<key>Name</key>
				<string>Model With Scene</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
			</dict>
		</dict>
		<key>Portal Series</key>
		<dict>
			<key>Model 1</key>
			<dict>
				<key>Name</key>
				<string>Model Without Scene</string>
				<key>Kinematic</key>
				<string>Portal</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>Model 2</key>
			<dict>
				<key>Name</key>
				<string>Model With Scene</string>
				<key>Kinematic</key>
				<string>Portal</string>
				<key>Scene</key>
				<string>None</string>
			</dict>
		</dict>
	</dict>
	<key>ABB</key>
	<dict>
		<key>Series</key>
		<dict>
			<key>Model</key>
			<dict>
				<key>Name</key>
				<string>ABB Model</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>FANUC</key>
	<dict>
		<key>CR Collaborative</key>
		<dict>
			<key>4iA</key>
			<dict>
				<key>Name</key>
				<string>CR-4iA</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>7iA</key>
			<dict>
				<key>Name</key>
				<string>CR-7iA</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>7iA/L</key>
			<dict>
				<key>Name</key>
				<string>CR-7iA/L</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>14iA/L</key>
			<dict>
				<key>Name</key>
				<string>CR-14iA/L</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>15iA</key>
			<dict>
				<key>Name</key>
				<string>CR-15iA</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>35iA</key>
			<dict>
				<key>Name</key>
				<string>CR-35iA</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
		<key>LR Mate</key>
		<dict>
			<key>200iD</key>
			<dict>
				<key>Name</key>
				<string>LR Mate 200iD</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>200iD/4S</key>
			<dict>
				<key>Name</key>
				<string>LR Mate 200iD/4S</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>200iD/7C</key>
			<dict>
				<key>Name</key>
				<string>LR Mate 200iD/7C</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
			<key>200iD/14L</key>
			<dict>
				<key>Name</key>
				<string>LR Mate 200iD/14L</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
	</dict>
	<key>KUKA</key>
	<dict>
		<key>Series</key>
		<dict>
			<key>Model</key>
			<dict>
				<key>Name</key>
				<string>KUKA Model</string>
				<key>Kinematic</key>
				<string>6DOF</string>
				<key>Scene</key>
				<string>None</string>
				<key>Details Lengths</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
