<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scene Detail</key>
	<dict>
		<key>Scene</key>
		<string>TestDetail.scn</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Figure Detail</key>
	<dict>
		<key>Figure</key>
		<string>box</string>
		<key>Color</key>
		<array>
			<integer>41</integer>
			<integer>199</integer>
			<integer>50</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>8</integer>
			<integer>8</integer>
			<integer>8</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Figure Detail And Scene</key>
	<dict>
		<key>Scene</key>
		<string>None</string>
		<key>Figure</key>
		<string>box</string>
		<key>Color</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>Physics</key>
		<string>None</string>
		<key>Gripable</key>
		<false/>
	</dict>
</dict>
</plist>
