<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sphere</key>
	<dict>
		<key>Figure</key>
		<string>sphere</string>
		<key>Color</key>
		<array>
			<integer>252</integer>
			<integer>33</integer>
			<integer>37</integer>
		</array>
		<key>Material</key>
		<string>physically based</string>
		<key>Lengths</key>
		<array>
			<integer>80</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Cylinder</key>
	<dict>
		<key>Figure</key>
		<string>cylinder</string>
		<key>Color</key>
		<array>
			<integer>41</integer>
			<integer>199</integer>
			<integer>50</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>80</integer>
			<integer>80</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Plane</key>
	<dict>
		<key>Figure</key>
		<string>plane</string>
		<key>Color</key>
		<array>
			<integer>10</integer>
			<integer>96</integer>
			<integer>255</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>80</integer>
			<integer>80</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Capsule</key>
	<dict>
		<key>Figure</key>
		<string>capsule</string>
		<key>Color</key>
		<array>
			<integer>253</integer>
			<integer>130</integer>
			<integer>8</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>20</integer>
			<integer>80</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Torus</key>
	<dict>
		<key>Figure</key>
		<string>torus</string>
		<key>Color</key>
		<array>
			<integer>254</integer>
			<integer>195</integer>
			<integer>9</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>80</integer>
			<integer>20</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Cone</key>
	<dict>
		<key>Figure</key>
		<string>cone</string>
		<key>Color</key>
		<array>
			<integer>144</integer>
			<integer>113</integer>
			<integer>76</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>0</integer>
			<integer>40</integer>
			<integer>40</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Tube</key>
	<dict>
		<key>Figure</key>
		<string>tube</string>
		<key>Color</key>
		<array>
			<integer>157</integer>
			<integer>51</integer>
			<integer>214</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>60</integer>
			<integer>80</integer>
			<integer>80</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Pyramid</key>
	<dict>
		<key>Figure</key>
		<string>pyramid</string>
		<key>Color</key>
		<array>
			<integer>24</integer>
			<integer>189</integer>
			<integer>176</integer>
		</array>
		<key>Material</key>
		<string></string>
		<key>Lengths</key>
		<array>
			<integer>80</integer>
			<integer>40</integer>
			<integer>80</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Box</key>
	<dict>
		<key>Figure</key>
		<string>box</string>
		<key>Color</key>
		<array>
			<integer>123</integer>
			<integer>123</integer>
			<integer>129</integer>
		</array>
		<key>Material</key>
		<string>physically based</string>
		<key>Lengths</key>
		<array>
			<integer>80</integer>
			<integer>80</integer>
			<integer>80</integer>
			<integer>10</integer>
		</array>
		<key>Physics</key>
		<string>dynamic</string>
		<key>Gripable</key>
		<false/>
	</dict>
	<key>Scene Part</key>
	<dict>
		<key>Scene</key>
		<string>TestPart.scn</string>
		<key>Gripable</key>
		<false/>
	</dict>
</dict>
</plist>
