<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tool 1</key>
	<dict>
		<key>Scene</key>
		<string></string>
		<key>Connector</key>
		<string></string>
		<key>Operations Codes</key>
		<dict>
			<key>Code 1#arrow.left.and.line.vertical.and.arrow.right</key>
			<integer>1</integer>
			<key>Code 2#arrow.right.and.line.vertical.and.arrow.left</key>
			<integer>2</integer>
			<key>Code 2#teset_icon#</key>
			<integer>3</integer>
			<key>Code N</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Tool 2</key>
	<dict/>
</dict>
</plist>
