<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gripper</key>
	<dict>
		<key>Scene</key>
		<string></string>
		<key>Connector</key>
		<string></string>
		<key>Operations Codes</key>
		<dict>
			<key>Grab#arrow.right.and.line.vertical.and.arrow.left</key>
			<integer>2</integer>
			<key>Release#arrow.left.and.line.vertical.and.arrow.right</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Static Tool</key>
	<dict>
		<key>Scene</key>
		<string></string>
	</dict>
</dict>
</plist>
